<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registeration</title>
</head>
<body>
	
<form action="register" method = POST>
	{% csrf_token %}
	<input type="text" name="first_name" placeholder="first_name"><br><br>
	<input type="text" name="last_name" placeholder="last_name"><br><br>
	<input type="text" name="username" placeholder="username"><br><br>
	<input type="text" name="password1" placeholder="password"><br><br>
	<input type="text" name="password2" placeholder="retype password"><br><br>
	<input type="text" name="email" placeholder="Email"><br><br>
    <input type="submit" >

</form>

</body>
</html>